/* _______________éléments principaux________________ */

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', 'arial', sans-serif;
    color: #181818;
}

#bloc_page {
    max-width: 1440px;
}


.width95 {
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
}

/* _________________header_________________ */

#logo {
    width: 110px;
    max-height: 40px;
}

.display_phone1,
.display_phone2 {
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: column;
}

#titre_principal {
    display: flex;
    justify-content: space-between;
}

#h1 {
    font-weight: bold;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

nav {
    margin-left: -28px;
}

nav ul {
    display: flex;
}

nav a {
    color: #0065FC;
    text-decoration: none;
    margin-right: 60px;

}

nav a:hover
{
    border-top: solid;
    border-top-color: #0065FC;
    width: auto;
    height: 60px;
    padding-top: 20px;
}

#black {
    color: black;
}


#no_margin {
    margin: 0px;
}

/* _______________fonction recherche________________ */

#champ_recherche {
    position: absolute;
    margin-left: -54px;
    margin-top: -78px;
}

::placeholder {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

#style_input {
    height: 60px;
    width: 240px;
    position: absolute;
    left: 115px;
}

.fas.fa-map-marker-alt {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-style: hidden;
    background-color: #DEEBFF;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: absolute;
    left: 55px;
}

#bouton_loupe {
    visibility: hidden;
}

#bouton_recherche {
    height: 60px;
    width: 140px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 15px;
    border-style: hidden;
    background-color: #0065FC;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    left: 355px;
}

#filtres ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 75px;
    padding-left: 0px;
}

#filtres a:hover {
    color: #0065FC;
}


#border1 a,
#border2 a,
#border3 a,
#border4 a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

#no_border {
    height: 60px;
    width: 100px;
    line-height: 60px;
    margin-right: 30px;
}

#border1 .fas.fa-money-bill-wave,
#border2 .fas.fa-child,
#border3 .fas.fa-heart,
#border4 .fas.fa-dog {
    height: 60px;
    width: 60px;
    text-align: center;
    color: #0065FC;
    line-height: 60px;
    border-bottom-style: hidden;
    background-color: #DEEBFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#border1,
#border2,
#border3,
#border4 {
    height: 60px;
    width: auto;
    text-align: center;
    border-style: solid;
    border-color: #DEEBFF;
    border-width: 2px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    margin-right: 30px;
}

.fas.fa-info {
    height: 35px;
    width: 35px;
    text-align: center;
    color: #0065FC;
    line-height: 35px;
    border-style: solid;
    border-color: #DEEBFF;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


/*________________Hebergement___________*/

#hebergement a {
    text-decoration: none;
    color: black;
}

#bloc h2 {
    margin-left: 45px;
}

.fas.fa-star {
    color: #0065FC;
}

.fas.fa-star.grey {
    color: #DEEBFF;
}

#hebergement {
    display: flex;
    justify-content: space-between;
}

#bloc {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

aside {
    width: 30%;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

aside h2 {
    margin-left: 1.5em;
    margin-bottom: 60px;
}


.fas.fa-chart-line {
    margin-left: 5em;
}

#Aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ligne_1 {
    display: flex;
    justify-content: space-around;
}

#ligne_2 {
    display: flex;
    justify-content: space-around;
}

.location {
    width: 25%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.conteneur {
    width: 98%;
    height: 150px;
}

.conteneur img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.location2 {
    display: flex;
    width: 85%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 94px;
}

.conteneur2 {
    width: 40%;
    height: 150px;
}

.conteneur2 img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location2 .description {
    padding-left: 20px;
}

/*__________Activite___________*/
#activite a {
    text-decoration: none;
    color: black;
}


#Activite {
    display: flex;
    justify-content: space-between;
}

#Activite h3 {
    font-weight: bold;
    margin-left: 15px;
}

.grande_location {
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.conteneur3 {
    width: 100%;
    height: 503px;
}

.conteneur4 {
    width: 100%;
    height: 298px;
}

.conteneur5 {
    width: 100%;
    height: 124px;
}

.conteneur6 {
    width: 100%;
    height: 211px;
}


.petite_location {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location3 {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 10px 8px #F2F2F2;
}

.location3_resize {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 10px 8px #F2F2F2;
}

.conteneur3 img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.location4 {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 10px 8px #F2F2F2;
    margin-bottom: 20px;
}

.location4_resize {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 10px 8px #F2F2F2;
    margin-bottom: 20px;
}

.conteneur4 img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.conteneur5 img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.conteneur6 img {
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/*____________Footer__________*/

footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 5em;
}

footer a {
    text-decoration: none;
    color: black;
}

#a_propos,
#nos_hebergements,
#assistance {
    flex: 1;
}

/*____________Affichage telephone___________*/

@media screen and (max-width:425px) {

    /* _______________éléments principaux________________ */

    #bloc_page {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    /*_____________header_____________*/

    #logo {
        margin-right: -168px;
    }

    #no_margin {
        font-weight: bold;
    }

    .display_web {
        visibility: hidden;
    }

    #phone_flex {
        display: flex;
    }

    #phone_flex a {
        text-decoration: none;
    }

    .display_phone1 {
        visibility: visible;
        color: #0065FC;
        border-bottom: solid;
        margin-right: 10px;
    }

    .display_phone2 {
        visibility: visible;
        color: black;
        border-bottom: solid;
        border-bottom-color: #F2F2F2;
    }

    /*___________fonction_recherche__________*/

    #champ_recherche {
        margin-top: 5px;
    }

    #bouton_recherche {
        visibility: hidden;
    }

    #style_input {
        height: 60px;
        width: 180px;
    }

    #border1,
    #border2,
    #border3,
    #border4 {
        margin-bottom: 10px;
    }

    #bouton_loupe {
        visibility: visible;
        height: 60px;
        width: 60px;
        text-align: center;
        color: white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 60px;
        border-style: hidden;
        background-color: #0065FC;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        position: absolute;
        left: 291px;
    }

    /*____________________hébergement______________*/

    main {
        display: flex;
        flex-direction: column;
    }


    #hebergement {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .fas.fa-chart-line {
        margin-left: 10px;
    }

    aside {
        margin-bottom: 20px;
        width: 100%;
    }

    #bloc {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #bloc h2 {
        margin-left: 0px;
    }

    #ligne_1,
    #ligne_2 {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }

    .location {
        width: 90%;
        margin-bottom: 79px;
    }

    .location2 {
        width: 90%;
        margin-bottom: 20px;
    }

    .conteneur {
        width: 100%;
        height: 130px;
    }

    .conteneur2 {
        height: 141px;
        width: 32%;
    }


    .location2 .description {
        overflow: auto;
    }

    /*__________________________activite_______________________*/



    #Activite {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .grande_location {
        width: 100%;
        margin-bottom: 20px;
    }

    .petite_location {
        width: 100%;
    }



    .conteneur3 {
        height: 200px;
        width: 100%;
    }

    .conteneur4 {
        height: 200px;
        width: 100%;
    }

    .conteneur5 {
        height: 200px;
        width: 100%;
    }

    .conteneur6 {
        height: 200px;
        width: 100%;
    }

    #img6 img {
        width: 120%;
    }



    /*___________________footer_______________________*/

    footer {
        display: flex;
        flex-direction: column;
    }

}

/*_____________Affichage_Tablette___________________*/

@media screen and (min-width:426px) and (max-width:921px) {

    #border1,
    #border2,
    border3,
    border4 {
        margin-bottom: 10px;
    }

    #hebergement {
        flex-direction: column-reverse;
    }

    aside {
        width: 100%;
    }
    
    #Aside
    {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .location2
    {
        width: 25%;
    }
    
    .conteneur2
    {
        width: 68%;
        height: 200px;
    }

    #bloc {
        width: 100%;
    }
    
    .conteneur3
    {
        width: 100%;
        height: 380px;
    }
    
    .conteneur4
    {
        width: 100%;
        height: 156px;
    }
    
    .conteneur6
    {
        width: 100%;
        height: 130px;
    }
    
    #ligne_1,
    #ligne_2
    {
        margin-bottom: 10px;
    }
    


}
